/* Navigation Bar */

.navbar {
    width: 100%;
    padding: 0.5rem 4rem;
}

/* Historical Page */

#historical-page-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

#tenant-dropdown-label {
    margin-left: 4rem
}

#environment-tabs {
    margin: 0 4rem;
}

#historical-chart {
    margin: 0 4rem;
}

/* Dashboard Styles */

#dashboard-container {
    padding: 2rem;
}

#dashboard-title {
    margin: 0;
    align-items: center;
}

#env-dropdown,
#tenant-dropdown {
    margin-left: 4rem;
    width: 200px;
}

#env-results-container {
    margin-top: 2rem;
}

.tenant-section {
    margin: 0 2rem;
}

.tenant-name {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.responsive-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
}

.chart-box, .table-box {
    flex: 1;
    min-width: 300px;
}
